# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
.yarn/

# Build output
dist/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# Editor
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/btkbi/firmware/