#links{
    height: 50px;
    width: 100%;
    white-space: nowrap;
}
.links{
    height: 50px;
    width: 100%;
    white-space: nowrap;
}
#links_internal{
    height: 50px;
    width: 100%;
    display: inline-block;
    white-space: nowrap;
}
.links_text{
    color: #fd6d06;
    height: 100%;
    float: left;
    margin-top: 20px;
}
.logo{
    float: left;
    opacity: 0.7;
    height: 50px;
    transition: opacity 1s;
    margin-right: 25px;
    margin-left: 5px;
}
.logo:hover{
    opacity: 1;
}

.iteminnerbutton{
    float: left;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgba(139,0,0,0.7);
    color: #ef741b;
    transition: background-color 1s;
}
.iteminnerbutton:hover{
    background-color: rgba(139,0,0,1);
}

.iteminnerbuttonrogrgb{
    height: 50px;
    border: 1px solid #ef741b;
    background-color: rgba(0,0,0,0.5);
    color: #ef741b;
    margin: 0px;
    padding: 0px;
    width: 33%;
    transition: border-bottom-color 1s, border-top-color 1s, border-left-color 1s, border-right-color 1s, color 1s;
}

.iteminnerbuttonrogrgb:hover{
    color: rgb(139,0,0);
    border: 1px solid rgb(139,0,0);
}


.two_pics_div{
    width: 100%;
    display: inline-block;
}
.two_pics_pic{
    margin: 0px;
    padding: 0px;
    width: 50%;
    float: left;
}

.one_pics_div{
    width: 100%;
    display: inline-block;
}
.one_pics_pic{
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
}

.text_standard{
    color: #d5d5d5;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.4);
}
.text_standard p{
    color: #cbbda8;
    font-size: 110%;
    line-height: 1.5;
}
.text_standard h3{
    color: #d25d5d;
}

.text_standard h2{
    color: #ef741b;
    text-align: center;
}
.four_pics_div{
    width: 100%;
    display: inline-block;
}
.four_pics_pic {
    width: 25%;
    margin: 0px;
    padding: 0px;
    float: left;
}
.three_pics_div{
    width: 100%;
    display: inline-block;
}
.three_pics_pic {
    width: 33.333%;
    margin: 0px;
    padding: 0px;
    float: left;
}
img{
    opacity: 0.8;
}
img:hover{
    opacity: 1;
}

table, th, td {
    border: 1px solid #ef741b;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
td{
    width: 20%;
}
.table_reset_width td{
    width: auto;
}
table{
    width: 100%;
}
code{
    color: limegreen;
    background-color: #1d1d1d;
    padding: 10px;
    white-space: pre-wrap;
    width: 100%;
    display: block;
}
.a_nice_links{
    color: #46bf46;
    text-decoration: none;
}
.a_nice_links:hover{
    text-decoration: underline;
}