body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #111111;
    height: 100%;
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}