:root {
    --footer_height: 70px;

}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #111111;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}

#container {
    min-height:100%;
    position:relative;
}
#header {
    padding-top:5px;
    text-align: center;
    top:0;
}
#body {
    padding:10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -30px;
    padding-bottom: var(--footer_height);   /* Height of the footer */
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: var(--footer_height);   /* Height of the footer */
    padding: 0px;
    color: brown;
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.7) 80%, rgba(0,0,0,0));
}

.actionsbtn {
    border: none;
    background-color: rgba(139,0,0,0.7);
    color: #ef741b;
    padding: 2em;
    margin-right: 10px;
    transition: background-color 2s, color 3s;
    margin-bottom: 10px;
}

.actionsbtn:hover{
    background-color: rgba(239,116,27,0.7);
    color: darkred;
}

.headerh1 {
    color: #ef741b;
    padding: 5px;
    margin: 0px;
    margin-top: -5px;
    text-align: left;
    margin-left: 40%;
}

#header_containder{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
}

#matrix_canvas{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}

h1{
    color: darkred;
}

#headerProgressBar{
    width: 100%;
    height: 2px;
}

#headerProgressBarInner{
    width: 0%;
    height: 2px;
    background-color: rgba(239, 116, 17, 0.5);
}

.matrix_colour_btns {
    border: none;
    background-color: rgba(139,0,0,0.7);
    color: #ef741b;
    transition: background-color 2s, color 3s;
    padding: 0px;
    margin: 0px;
    width: 16.666666666666666666%;
    height: 2px;
    font-size: 0px;
}

#matrix_canvas_orange{
    background-color: rgba(239,116,27,0.7);
    color: darkred;
}
#matrix_canvas_orange:hover{
    background-color: rgba(139,0,0,0.7);
    color: #ef741b;
}

#matrix_canvas_red{
    background-color: rgba(120,8,11,0.7);
    color: #ef741b;
}
#matrix_canvas_red:hover{
    background-color: rgba(194, 93, 19, 0.7);
    color: #78080b;
}

#matrix_canvas_blue{
    background-color: rgba(16,44,142,0.7);
    color: #78080b;
}
#matrix_canvas_blue:hover{
    background-color: rgba(194, 93, 19, 0.7);
    color: #78080b;
}

#matrix_canvas_green{
    background-color: rgba(55,154,11,0.7);
    color: #78080b;
}
#matrix_canvas_green:hover{
    background-color: rgba(194, 93, 19, 0.7);
    color: #78080b;
}

#matrix_canvas_rainbow{
    background-color: rgba(101, 101, 101,0.7);
    color: #78080b;
}
#matrix_canvas_rainbow:hover{
    background-color: rgba(194, 93, 19, 0.7);
    color: #78080b;
}

#matrix_canvas_theme{
    /*background-color: rgba(139,0,0,0.4);*/
    text-align: left;
    background:  linear-gradient(to bottom right, rgba(139,0,0,0.8) 0%, rgba(139,0,0,0.4) 53%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    font-size: 15px;
    height: 30px;
    background-size: 400% 500%;
    background-position: 400% 100%;
    /*transition: background-position 1s;*/
}
/*#matrix_canvas_theme:hover{*/
/*    !*background-color: rgba(139,0,0,0.1);*!*/
/*    !*background:  linear-gradient(to bottom right, rgba(139,0,0,0.7) 0%, rgba(139,0,0,0.7) 50%, rgba(139,0,0,0.7) 50%, rgba(139,0,0,0.7) 100%);*!*/
/*    color: #ef741b;*/
/*    background-position: 400% 125%;*/

/*}*/

.test{
    color: #379a0b;
}

.matrix_colour_btns:hover{
    background-color: rgba(239,116,27,0.7);
    color: darkred;
}

#matrix_colour_btns_div_container{
    height: 50px;
    width: 100%;
    display: flex;
}

#containers{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none; /*for firefox*/
    width: 82%;
    float: right;
    margin: 0px;
    padding: 0px;
}

#categorieselector{
    width: 17.333333333%;
    margin: 0px;
    padding: 0px;
    float: left;
    display: block;
    margin-left: -30px;
    font-size: 0px;
    overflow-y: scroll;
    scrollbar-width: none; /*for firefox*/
    height: 100%;
    background: linear-gradient(to right, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0));
}

.sidebarbtn {
    border: none;
    /*background-color: rgba(139,0,0,0);*/
    background: linear-gradient(to right, rgba(139,0,0,0.4) 50%, rgba(0,0,0,0));
    /*background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(139,0,0,0.4));*/
    color: #ef741b;
    padding: 0px;
    margin: 0px;
    transition: background-color 2s, color 3s, background-position 1s;
    width: 100%;
    height: 50px;
    text-align: left;
    background-size: 1000% 100%;
    background-position: 100% 100%;
}

.sidebarbtn:hover{
    /*background: linear-gradient(to right, rgba(0,0,0,0),rgba(139,0,0,0.7));*/
    /*background-color: rgba(239,116,27,0.7);*/
    color: #fd6d06;
    background-position: 150% 100%;
}

.sidebarbtncollapsed{
    height: 2px;
    font-size: 0px;
    border: none;
    /*background-color: rgba(139,0,0,0);*/
    background: linear-gradient(to right, rgba(201, 94, 17, 0.3) 40%, rgba(0,0,0,0));
    /*background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(139,0,0,0.4));*/
    color: rgb(139,0,0);
    padding: 0px;
    margin: 0px;
    transition: background-color 2s, color 3s, background-position 1s;
    width: 100%;
    text-align: left;
    background-size: 1000% 100%;
    background-position: 100% 100%;
}

.sidebarbtncollapsed:hover{
    /*background: linear-gradient(to right, rgba(0,0,0,0),rgba(139,0,0,0.7));*/
    /*background-color: rgba(239,116,27,0.7);*/
    color: rgb(161, 2, 2);
    background-position: 150% 100%;
}





